.nomCV{
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.firstSection{
    display: grid;
    height: 150px;
    width: 100%;
    border-left: solid turquoise 8px;
    grid-template-columns: 50% 50%;
}
.microHalfSection{
    display: grid;
    grid-template-columns: 96% 4%;
}
body{
    font-family: 'Lato', sans-serif;
}
.texteTurquois{
    color: turquoise;
}
.texteFoncé{
    color:midnightblue;
}
.backgroundTurquois{
    background-color: turquoise;
}
.backgroundFoncé{
    background-color:midnightblue;
}
.halfSection{
    height: 150px;
    /*background-color: red;*/
}
.contactInfoIcons{
    height: 15px;
    padding-left: 10px;
    padding-top: 5px;
}
.secondHalfSection{
    padding-left: 50px;
}
.profilePicture{
    height: 140px;
    border-radius: 90%;
    border: 8px solid turquoise
}
.lineRightBottom{
    padding-top: 300%;
}
.lineRightToProfilePicture{
    height: 70%;
    width: 3px;
    vertical-align: center;
    border-right: solid midnightblue 8px;
}
.PosteRecherchéContainer{
    height: 30px;
    padding-top: 30px;
    width: 100%;
    /*background-color: red;*/
}
.titreDuPoste{
    margin: auto;
    text-align: center;
    background-color: midnightblue;
    border-radius: 5px;
    width: 220px;
    color: white;
}
.lowerHalfPage{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 30% 69%;
}
.lowerHalfFirstPage{
    color: midnightblue;
    border-right: solid turquoise 2px;
}
.lowerHalfSecondPage{
    padding-left: 5px;
    color: midnightblue;
}
.titreAProposDeMoi{
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.maDescription{
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
}
.compétenceTag{
    text-align: left;
    padding-left: 10px;
    background-color: midnightblue;
    border-radius: 5px;
    width: 170px;
    color: white;
}
.compétenceTagLong{
    text-align: left;
    padding-left: 10px;
    background-color: midnightblue;
    border-radius: 5px;
    width: 290px;
    color: white;
}
.compétencesProfessionels{
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.blocExpérience{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}
.titreExpérience{
    font-weight: bold;
    text-transform: uppercase;
}
.periodeExpérience{
    color:royalblue;
}
.descriptionExpérience{
    font-style: italic;
}